:root {
  --background-color: #f5f5f5;
  --header-background-color: #f0f0f0;
  --footer-background-color: #e5e5e5;
  --content-background-color: transparent;
  --content-item-background-color: #fafafa;
  --hover-color: rgba(0, 0, 0, 0.1);
  --border-color: #d0d0d0;
  --base-color: #202020;
  --base-shadow-color: rgba(33, 33, 33, .2);
  --button-color: #4e61ff;
  --button-hover-color: #3f4ffa;
  --button-red-color: #da373c;
  --button-red-hover-color: #a12829;
  --link-accent-color: #218bff;

  --base-gap: 20px;
  --half-base-gab: calc(var(--base-gap) / 2);
  --base-border-radius: 5px;

  --theme-changed-transition: 0.2s;
  --base-font-family: 'Noto Sans KR', sans-serif;
}

:root.dark-theme {
  --background-color: #181818;
  --header-background-color: #202020;
  --footer-background-color: #303030;
  --content-background-color: transparent;
  --content-item-background-color: #232323;
  --hover-color: rgba(255, 255, 255, 0.1);
  --border-color: #3a3b3d;
  --base-color: #f0f0f0;
  --base-shadow-color: rgba(222, 222, 222, .2);
  --button-color: #5865f2;
  --button-hover-color: #4752c4;
  --button-red-color: #da373c;
  --button-red-hover-color: #a12829;
  --link-accent-color: #539bf5;

  --logo-brightness: 180%;

  color-scheme: dark;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
}

h5 {
  font-size: 1.00em;
  font-weight: bold;
}

h6 {
  font-size: 0.875em;
}

body {
  background: var(--background-color);
  transition: var(--theme-changed-transition);
}

#app {
  position: relative;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: 100%;
  height: 100%;

  overflow-y: visible;

  color: var(--base-color);
  transition: var(--theme-changed-transition);
  font-size: 16px;
  font-family: var(--base-font-family);
}

@media (max-width: 800px) {
  #app {
    font-size: 14px;
  }
}

#app > .header {
  border-bottom: 1px solid var(--border-color);
  transition: var(--theme-changed-transition);

  height: 70px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  backdrop-filter: blur(6px);
}

#app > .content {
  background-color: var(--content-background-color);
  margin-top: 70px;
}

a {
  text-decoration: none;
  color: var(--link-accent-color)
}

a:visited {
  text-decoration: none;
  color: var(--link-accent-color)
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

input,
textarea {
  font-family: var(--base-font-family);
}

button {
  background-color: var(--button-color);
  padding: 0 10px;
  border-radius: var(--base-border-radius);
  border: none;
  transition: 0.2s;
  height: 30px;
  font-weight: bold;
  font-size: 13px;
  color: #f0f0f0;
}

.red-button {
  background-color: var(--button-red-color);
}

@media(hover: hover) and (pointer: fine) {
  button:hover:not([disabled]) {
    background-color: var(--button-hover-color);
    cursor: pointer;
  }

  button:hover:not([disabled]).red-button {
    background-color: var(--button-red-hover-color);
    cursor: pointer;
  }
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.5)
}

.logo {
  filter: brightness(var(--logo-brightness));
}

.form-container {
  display: grid;

  align-content: center;
  justify-content: center;

  padding: var(--base-gap);
  box-sizing: border-box;
}

.form-container .form-wrapper {
  background-color: var(--content-item-background-color);
  border-radius: var(--base-border-radius);
  border: 1px solid var(--border-color);
  padding: calc(var(--base-gap) * 2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.08);

  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;

  box-sizing: border-box;

  row-gap: var(--half-base-gab);

  width: 400px;
}

@media (max-width: 500px) {
  .form-container {
    justify-content: stretch;
  }

  .form-container .form-wrapper {
    padding: var(--base-gap);
    width: 100%;
  }
}

.form-wrapper input,
.form-wrapper textarea {
  font-size: 14px;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border-radius: var(--base-border-radius);
  border: 1px solid var(--border-color);
  outline: none;
}

.form-wrapper textarea {
  resize: none;
}

.form-wrapper button {
  min-height: 42px;
  font-size: 1em;
}

.form-wrapper a {
  font-size: 12px;
}

.form-wrapper input.valid {
  border: 1px solid #21b314;
}

.form-wrapper input.invalid {
  border: 1px solid red;
}

.badge {
  border-radius: 4px;
  padding: 0.2em 0.4em;
  font-size: 90%;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}